# IDEs
idea/
.idea/

# Folders
node_modules/
build/
dist/

# Extensions
*.css
*.scss

# Logs
*.log
*.tsbuildinfo

# Enviroments
.env
.env.*

# Cache
.stylelintcache

# Configs
.eslintrc.js
*.config.js

# Unknown
.DS_Store