.Progress {
  border-radius: 4px;
  background: #ccf;
  height: 1rem;
  border: solid rgb(197, 197, 197) 1px;

  &__p1{
    height: 100%;
  }
}
.-green{
  background: #00FF38;
}
.-red{
  background: #FF0B0B;
}

