.Progress {
  background: #ccf;
  height: 1rem;
  border: solid rgb(197, 197, 197) 1px;

  &__p1{
    height: 100%;
    background: #080;
  }
}
.-blue{
  background-color: rgb(0, 81, 255);
}
.-red{
  background-color: red;
}

