.Card {
  width: auto;
  padding: 8px;
  height: auto;
  background-color: rgb(226, 225, 247);
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  
}
