.Text {
  font-size: 80px;
  color: aqua;
}
.-gray{
  color: gray;
}
.-black{
  color: black;
}
.-red{
  color: red;
}
.-yellow{
  color: yellow;
}
.-blue{
  color: blue;
}
.-text-title-large{
  line-height:2.5rem ;
  font-size: 2.25rem;
}
.-text-title-medium{
  line-height: 2.25rem;
  font-size:1.875rem ;
}
.-text-title-small{
  line-height:2rem ;
  font-size: 1.5rem;
}
.-text-large{
  line-height:1.75rem ;
  font-size: 1.125rem;
}
.-text-medium{
  line-height:1.5rem ;
  font-size:1rem ;
}
.-text-small{
  line-height: 1.25rem;
  font-size: 0.875rem;
}
.-text-caption{
  line-height: 1rem;
  font-size: 0.75rem;
}
.-oblique{
  font-style:oblique;
}
.-italic{
  font-style:italic;
}
.-small-caps{
  font-variant:small-caps;
}
.-bold{
  font-weight:bold;
}
.-bolder{
  font-weight: bolder;
}

