.Sidebar{
    min-height: 100%;
    width:250px ;
    border:solid black 1px;
    background-color: #edeffe;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap:1rem;
    font-size: 24px;
    &_icon{
        text-align: center;
        
        padding: 5px;
        border-radius: 4px;
        background: rgb(187, 255, 255);
        width: 174px;
        border: solid gray 1px;
    }
    &_icon:hover{
        
        text-align: center;
        border-radius: 4px;
        width: 176px;
        border: solid gray 1px;
    }
    &_logo{
        width: 170px;
        background-color: rgba(128, 128, 128, 0);
        
    }
    
}
